@model IEnumerable<Data.Facture>

@{
    ViewBag.Title = "Index";
}

<h2>Vos Factures</h2>

<p>
    @Html.ActionLink("Ajouter une autre facture", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.imagefacture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descriptionfacture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td align="center">
            <img src="~/Content/uploads/@Html.DisplayFor(modelItem => item.imagefacture)" style="width: 50px;height: 50px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descriptionfacture)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.idfacture })
        </td>
    </tr>
}

</table>
