@model Solution.Presentation.Models.TicketExtra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketExtra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flextime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flextime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tache)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tache)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_emp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_emp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
